/*GENERAL*/
body{
    margin: 0 auto;
    font-family: sans-serif;
    font-weight: bold;
    width: 80%;
    padding: 0;

}
/*END OF GENERAL*/

/* UTLITY*/
/*END OF UTLITY*/

/*HEADER*/
/*END OF HEADER*/

/*MAIN*/
/*END OF MAIN*/

/*FOOTER*/
/*END OF FOOTER*/
