/*GENERAL*/
body{
    margin: 0 auto;
    width: 1100px;
    font-size: 20px;

}
/*END OF GENERAL*/



/* UTLITY*/
section{
    margin-top: 20px;
}
.yellow{
    background-color: yellow;
}
/*END OF UTLITY*/



/*HEADER*/

/*logo style*/
nav{
    background-color: #4ea0ff;
    background-image: url(../IMG/pattern.png);
    background-size: 50%;
    height:150px;
}
#logo{
    width: 200px;
    margin-top: 80px;
    padding: 10px;
}
/*/logo style*/

/*Title*/
h1{
    font-size: 50px;
}
h1,h3{
    margin: 0;
}
h3{
    color: #7A7A7A ;
}
#author{
    color: #20A9E5;
}
#date{font-size: 14px;}
/*End Title*/

/*END OF HEADER*/




/*MAIN*/

/* img with description and text */
#img-desc{
    font-size: 13px;
    margin: 0;
}



ul{padding: 15px;}
/* /img with description and text */

/*tablle*/
.long2{
    width: 800px;
}
table{
    border: #20A9E5;
    border-spacing: 0;
}
thead{
    background-color: #20A9E5 ;
    margin: 0;
    color: white;
}
.bluspace{
    background-color: #B1E5F2;
}

td{
    text-align: center;
    width: 300px;
    
}
/* /tablle*/

/*END OF MAIN*/

/*FOOTER*/

/*END OF FOOTER*/

